h1 {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}
.inputFields {
  display: flex;
  align-items: space-around;
  justify-content: center;
}